/*tr td:nth-child(5) {
  background: #ccc;
}*/

/*
https://stackoverflow.com/questions/3942254/how-to-specify-font-attributes-for-all-elements-on-an-html-web-page
*/

/** {
  font-size: 100%;
  font-family: Arial;
 }*/

/*https://www.w3schools.com/css/css_font.asp*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_font-family*/
pre, font{
  font-family: "Lucida Console", "Courier New", monospace;
  color: darkblue;
  font-weight: 900;
}

/*table styling*/
/*https://www.w3schools.com/css/css_table.asp*/

table {
  /*width: 100%;*/
  border-collapse: collapse;
}

.branding{
  color:white;
}

.className{
  display:none;
}

.leftColumn{
  width:195px !important;
}

.rightColumn{
  /*width:90vw;*/
}